@import url("http://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 박스크기를 어떤것을 기준으로 계산할지 정하는 속성 boder-box  테두리 기준으로 크기를 정함 */
  font-family: "Poppins", sans-serif;
}
body {
  /* displlay:flex	는 Block 특성의 Flex Container를 정의 ,inline-flex	Inline 특성의 Flex Container를 정의 */
  display: flex;
  /* justify-content 속성은 플렉스 요소의 수평 방향 정렬 방식을 설정합니다. */
  justify-content: center; /* center : 플렉스 라인은 플렉스 컨테이너의 가운데에 뭉치게 됩니다. */
  /* align-items 속성은 플렉스 요소의 수직 방향 정렬 방식을 설정합니다. */
  align-items: center; /*center : 플렉스 요소는 플렉스 컨테이너의 가운데에 배치됩니다. */
  min-height: 100vh; /*vh: 뷰포트 높이의 1% 길이와 동일합니다. vh & vw (vertical height & vertical width)*/
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 10px 0; */
}
.container .hexagon {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 50px 20px 70px;
}
/* hexgon 그림자 */
.container .hexagon::before {
  content: "";
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  /* 원그림자 */
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}
.container .hexagon:hover:before {
  opacity: 0.8;
  transform: scale(0.8);
}
/* 모양만드는코드 */
.container .hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  /*헥사곤 만드는코드*/
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: 0.5s;
}
/* 헥사곤 모양에 마우스를 가져가면 움직임을 주는 코드 */
.container .hexagon:hover .shape {
  transform: translatey(-30px);
}

/* 이미지 위치 및 크기 */
.container .hexagon .shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 대체 콘텐츠의 가로세로비를 유지하면서, 요소 콘텐츠 박스를 가득 채웁니다 */
}
/* 이미지 위 텍스트 와 배경색(그라디언트)지정 ->투명도0  */
.container .hexagon .shape .content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0.5));
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.container .hexagon:hover .shape .content {
  opacity: 1;
}
